*.pyc

.snakemake
sim*Trees*
sim*trees*
log
latex/*.aux
latex/*.log
latex/*.bbl
latex/*.blg
latex/*.synctex.gz
hivpy/trees
hivpy/bestTrees
annotations
to_read
noDRM
snakemake/*.out
snakemake/*.log
snakemake/*.err
*_sim_*
.idea
ukdb_docs
sim_*
simy_*
